body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.layout {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: minmax(250px, 10%) 4fr;
    height: 100vh;
}

.icon {
    padding-right: 20px;
    height: 30px;
}

.dashboard {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgb(19, 153, 255);
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 3 / 1;
    height: 100vh;
}

.dash-header {
    display: flex;
    height: 50px;
    margin: 10px;
    justify-content: left;
    align-items: center;
}

.dashboard ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px 20px 0 0;
    font-size: 1rem;
}

.header {
    background-color: white;
    grid-area: 1 / 2 / 1 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100px;
    font-weight: 900;
    margin: 20px 0;
}

.cont {
    display:flex;
    justify-content: center;
    align-items: center;
}

.search {
    background-color: lightgray;
    border-radius: 1rem;
    border: none;
    width: 25rem;
    padding: 10px;
    height: 1.5rem;
}

.searchbar,
.profilebar {
    display: flex;
    margin: 0px 30px;
    align-items: center;
}

.searchbar {
    display: flex;
    justify-content: space-between;
}

.profile {
    height: 30px;
    margin: 0 5px;
}

.profilebar {
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    color: white;
    font-weight: 600;
    background-color: rgb(19, 153, 255);
    border-radius: 25px;
    border: none;
    height: 2rem;
    width: 75px;
    margin: 0 10px;
}

.content {
    background-color: lightgray;
    grid-area: 2 / 2 / 2 / 3;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
}

.subheader {
    font-size: 1.5rem;
    border: 1px solid purple;
    grid-column: 1/-1;
    justify-content: center;
    padding-bottom: 20px;
}

.projects,
.announcements,
.trends {
    background-color: white;
    border-radius: 5px;
}

.projects-cont {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    height: 0;
}

.projects {
    box-shadow: -7px 0 0 0 orange;
    height: 200px;
    width: clamp(300px, 40%, 900px);
}

.sidebar {
    display: grid;
}

.rightbar {
    display: grid;
    gap: 30px;
}

.announce-cont {
    margin: 10px;
    display: grid;
    border: 1px 0 solid red;
    /* gap: 0px; */
    height: 0;
}

.announcements {
    border-top: 1px dashed green;
    height: 100px;
    width: 250px;
}
